h1
{
	font-family: 'Montserrat', sans-serif;
	size:3rem;
	line-height:1.5;
}

.btn
{
	background:#fd7e14;
	color:#f4f4f4;
}

.navbar
{
	background:#fd7e14 !important;
}

.nav-link , .navbar-brand
{
	color:#f4f4f4;
	margin: 0 1em;
}

.nav-link:hover
{
	background:#f4f4f4;
	color:#fd7e14;
}

.sections
{
	margin-top:auto;
	width:100vw;
	height:100vh;
}

#home-section:before
{
	z-index:-100;
	content:"";
	background-image:url('images/headerback.jpg');
	background-size:cover;
	background-position:center;
	opacity:0.25;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}

.home-description
{
	position:absolute;
	top:30%;
	padding:2em;
}
.home-description p
{
	width:50%;
	color:#666;
}

.btn:hover
{
	background-color:#666;
	color:#f4f4f4;
}

.profile-img
{
	border-radius:50%;
}

.main-heading
{
	color:#fd7e14;
	font-size:2.5rem;
	padding-top:5px;
}

.about-description
{
	padding:3%;;
}
.about-description p
{
	width:70%;
	color:#666;
}
.about-description h4
{
	font-family: 'Montserrat', sans-serif;
  	font-size:3rem;

}

.senior-developer
{
	color:#666;
}

.portfolio-images
{
	height:15rem;
	padding:2%;	
}

.portfolio-row
{
	padding-top:2%;
}

#blog-section
{
	padding:0 100px 100px 100px;
	text-align: center;
}
.card-img-top
{
	height:10rem;
}

.blog-card
{
	padding:3% 2%;
}